.button:hover { 
    background:'red'!important; 
    -webkit-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out; 
  }

  .button:focus{
      outline: none!important;
      border: none!important;
  }